<div class="footer">
  <div class="row">
    <div class="large-12 columns">
      <p><span>TEL:</span> 559-275-1386 | <a href="mailto:info@trbutler.com">info@trbutler.com</a> | California Contractors License No. 280705</p>
      <ul class="social-links">
        <li><a href="#" class="ss-facebook"></a></li>
        <li><a href="#" class="ss-twitter"></a></li>
        <li><a href="#" class="ss-googleplus"></a></li>
      </ul>
    </div>
  </div>
</div><!-- End footer -->
