<section class="testimonials">
  <div class="row">
    <!--<div class="single-item small-10 small-centered large-10 large-centered columns">
          <div>
               <span style="font-size: 3em; line-height: 1em;">“</span><br>
               <p>Congratulations to you and your “Butler Team” for the very nice job you did on the construction of the Orchard Village Apartments. I look forward to an opportunity to work with your firm again and you may certainly feel free to use us as an qualified reference at any time.<br><br><span style="font-size: 3em; line-height: 1em;">”</p></span>
               <div class="byline"><p><span>ALAN H. GINSBURG, President</span> - CED Construction, Inc.</p></div>
          </div>
          <div>
               <span style="font-size: 3em; line-height: 1em;">“</span><br>
               <p>Now that we have been in our beautiful Butler home for almost one year, we thought it was time to express our sincere appreciation for the outstanding job Thomas R. Butler, Inc did during all phases of the project. From the valuable input during the design phase with the architect, construction and the PG&E rebate battle, all aspects flowed smoothly.</p>
               <p>The professionalism and courtesy demonstrated by Thomas R. Butler Inc should be the envy of all developers. I will continue to refer friends who plan on constructing a new home to your firm.<br><br><span style="font-size: 3em; line-height: 1em;">”</span></p>
               <div class="byline"><p><span>RICHARD AND DENILA WISLER</span></p></div>
          </div>

          <div>
               <span style="font-size: 3em; line-height: 1em;">“</span>
               <p>You must see the fabulous vase in this room. It couldn't possibly be any better. We have it and thank you so very much. When settled, we'll have you out for "dinner in the dirt"</p>
               <p>Greg, a special kudo to you for doing such a grand job and for making it a nice experience you have been so pleasant to work with and we do appreciate all your efforts.<br><br><span style="font-size: 3em; line-height: 1em;">”</span></p>
               <div class="byline"><p><span>GALEN AND JUDY</span></p></div>
          </div>
    </div>-->
     <div class="single-item small-12 small-centered large-12 large-centered columns">
         <div class="flexslider">
           <ul class="slides">
            <li>
               <span style="font-size: 3em; line-height: 1em;">“</span><br>
               <p>Congratulations to you and your “Butler Team” for the very nice job you did on the construction of the Orchard Village Apartments. I look forward to an opportunity to work with your firm again and you may certainly feel free to use us as an qualified reference at any time.<br><br><span style="font-size: 3em; line-height: 1em;">”</p></span>
               <div class="byline"><p><span>ALAN H. GINSBURG, President</span> - CED Construction, Inc.</p></div>
            </li>
            <li>
               <span style="font-size: 3em; line-height: 1em;">“</span><br>
               <p>Now that we have been in our beautiful Butler home for almost one year, we thought it was time to express our sincere appreciation for the outstanding job Thomas R. Butler, Inc did during all phases of the project. From the valuable input during the design phase with the architect, construction and the PG&E rebate battle, all aspects flowed smoothly.</p>
               <p>The professionalism and courtesy demonstrated by Thomas R. Butler Inc should be the envy of all developers. I will continue to refer friends who plan on constructing a new home to your firm.<br><br><span style="font-size: 3em; line-height: 1em;">”</span></p>
               <div class="byline"><p><span>RICHARD AND DENILA WISLER</span></p></div>
            </li>
            <li>
               <span style="font-size: 3em; line-height: 1em;">“</span>
               <p>You must see the fabulous vase in this room. It couldn't possibly be any better. We have it and thank you so very much. When settled, we'll have you out for "dinner in the dirt"</p>
               <p>Greg, a special kudo to you for doing such a grand job and for making it a nice experience you have been so pleasant to work with and we do appreciate all your efforts.<br><br><span style="font-size: 3em; line-height: 1em;">”</span></p>
               <div class="byline"><p><span>GALEN AND JUDY</span></p></div>
            </li>
           </ul>
         </div>
     </div>
  </div>
</section>
