{% block content %}
{% include 'mainnav' %}
<div class="top-about">
	<div class="row">
		<div class="large-12 large-centered columns">
			<img src="/assets/images/icon-butler@2x.svg" height="110" width="110" class="header-icons">
			<h1>About Thomas R. Butler Inc.</h1>
			<p>Since 1967, Thomas R. Butler, Inc., has been a leader in the building of some of the finest developments in California's San Joaquin Valley. But ours is more than just a building company - it's a family tradition in quality, innovation and craftsmanship. Founded by Thomas R. Butler, past president of the San Joaquin Valley Building Industry Association, and his wife, Carole, the company also benefits from the day-to-day involvement of sons Scott, Greg and Stephen Butler. It all comes together to give Thomas R. Butler, Inc., a well-deserved reputation for building homes and commercial properties with consistently thoughtful designs, strategic locations and detailed craftsmanship. Join the family tradition that ensures superior housing, rental and commercial values, backed by old fashioned pride, integrity and quality workmanship.</p>
		</div>
	</div><!-- End top-construction -->
</div><!-- End top-section -->
<section class="bios">
	<div class="row bio row">
		<article class="small-all medium-6 large-5 columns">
			<div class="centered">
				<img src="/assets/images/tom@2x.jpg" width="200" height="200" class="bio-pic">
				<h4>Thomas R. Butler</h4>
				<a href="mailto:tom@trbutler.com">tom@trbutler.com</a>
			</div><br>
			<p>I've often said <em>(and many have agreed!)</em> that my job is to "read reports and criticize." But seriously, I do my best to apply my years of experience to overseeing the operation, keeping our business profitable and keeping our team inspired.</p>
			<p>I've been happily married to my wife, Carole, for 50 wonderful years, and I enjoy spending time with her in our beautiful home. When I do leave the house, I enjoy traveling around the world and seeing new places, people and cultures. This also enables me to indulge my hobby of tasting and collecting fine wines.</p>
		</article>
		<article class="small-all medium-6 large-5 large-offset-2 columns">
			<div class="centered">
				<img src="/assets/images/scott@2x.jpg" width="200" height="200" class="bio-pic">
				<h4>T. Scott Butler</h4>
				<a href="mailto:scott@trbutler.com">scott@trbutler.com</a>
			</div><br>
			<p>Since 1985, I've been very happily married to my wife, Karen. We have two children - Ashley and Ryan - and I enjoy watching and participating in their activities. When I'm not working, I enjoy golf, skiing and vacationing with my family. And as a Fresno State alumnus, I also have a passion for Bulldog athletics. Go 'Dogs!</p>
		</article>
	</div>
	<div class="row">
		<article class="small-all medium-6 large-5 columns">
			<div class="centered">
				<img src="/assets/images/greg@2x.jpg" width="200" height="200" class="bio-pic">
				<h4>Greg Butler</h4>
				<a href="mailto:greg@trbutler.com">greg@trbutler.com</a>
			</div><br>
			<p>My wife, Lisa, and I have been married since 1985, and we are the proud parents of Jordan, Natalie and Hannah. I love rooting for my kids at their various sporting events, and enjoying a good bottle of wine with Lisa. In my leisure time, I enjoy puttering around the house and yard.</p>
		</article>
		<article class="small-all medium-6 large-5 large-offset-2 columns">
			<div class="centered">
				<img src="/assets/images/stephen@2x.jpg" width="200" height="200" class="bio-pic">
				<h4>Stephen P. Butler</h4>
				<a href="mailto:stephen@trbutler.com">stephen@trbutler.com</a>
			</div><br>
			<p>My wife and I are happily and faithfully married, and we've been blessed with two wonderful boys. While I enjoy music, golf and spending time with my family, the passion of my life is dedicating myself to serving Jesus Christ.</p>
		</article>
	</div>
</section><!-- end bios -->
{% include 'testimonials' %}
{% endblock %}
