{% block content %}
{% include 'mainnav' %}
<div class="top-construction">
	<div class="row">
		<div class="large-10 large-centered columns">
			<img src="http://placehold.it/130x130" class="header-icons">
			<h2>Construction Projects</h2>
			<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.</p>
		</div><!-- End main-message -->
	</div>
</div><!-- End top-section -->
<section class="grid">
	<div class="row">
		<div class="large-12 columns">
			<dl class="tabs" data-tab="" data-options="scroll_to_content: false">
				<dd class="active"><a href="#tabs-deeplink-1" class="button round">Commercial</a></dd>
				<dd class=""><a href="#tabs-deeplink-2" class="button round">Multi-Family</a></dd>
			</dl>
			<div class="tabs-content">
			  <div class="content active" id="tabs-deeplink-1">
					<ul>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Guarantee Home Loans</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">First American Title Company</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">SKA Financial Services</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Guarantee Real Estate</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Alluvial Court</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Bendel Office Warehouse</a>
							</div>
						</li>
					</ul>
			  </div>
			  <div class="content" id="tabs-deeplink-2">
			  		<ul>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Briarwood Apartments</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Cedar Commons</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Orchard Village Apartments</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Valley Oak Apartments</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Casa de Luna</a>
							</div>
						</li>
						<li class="listing large-4;">
							<div>
								<a href="#"><img src="http://placehold.it/300x240"></a><br>
								<a href="#">Silversprings II</a>
							</div>
						</li>
					</ul>
			  </div>
			</div>
		</div>
	</div><!-- end row -->
</section><!-- end grid -->
{% include 'testimonials' %}
{% include 'footer' %}
{% endblock %}
