{% block content %}
{% include 'mainnav' %}
<div class="top-construction">
	<div class="row">
		<div class="large-10 large-centered columns">
			<img src="/assets/images/icon-construction@2x.svg" width="130" height="130" class="header-icons">
			<h1>Construction Projects</h1>
			<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.</p>
		</div><!-- End main-message -->
	</div>
</div><!-- End top-section -->
<section class="grid">
	<div class="row">
		<div class="large-12 columns">
			<dl class="tabs" data-tab="" data-options="deep_linking:true;scroll_to_content: false">
				<dd class="active"><a href="#tabs-deeplink-1" class="button round">Commercial</a></dd>
				<dd class=""><a href="#tabs-deeplink-2" class="button round">Multi-Family</a></dd>
			</dl>
			<div class="tabs-content">
			  <div class="content active" id="tabs-deeplink-1">
					<ul>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="detail"><img src="assets/images/med-temp-1.jpg"></a><br>
							</div>
							<a href="detail">Guarantee Home Loans</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">First American Title Company</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">SKA Financial Services</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Guarantee Real Estate</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Alluvial Court</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Bendel Office Warehouse</a>
						</li>
					</ul>
			  </div>
			  <div class="content" id="tabs-deeplink-2">
			  		<ul>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Briarwood Apartments</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Cedar Commons</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Orchard Village Apartments</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Valley Oak Apartments</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Casa de Luna</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Silversprings II</a>
						</li>
					</ul>
			  </div>
			</div>
		</div>
	</div><!-- end row -->
</section><!-- end grid -->
{% include 'testimonials' %}
{% endblock %}
