{% block content %}
{% include 'mainnav' %}
<a href="https://www.google.com/maps/place/545+E+Alluvial+Ave+%23108,+Fresno,+CA+93720/@36.844203,-119.775946,17z/data=!3m1!4b1!4m2!3m1!1s0x809442b1eaba868b:0x2305a081cf361bbf" target="_blank">
	<div class="top-contact">
	</div><!-- End top-contact -->
</a>
<div class="row">
	<div class="large-8 large-centered columns" style="text-align:center;">
		<h1>Get in touch</h1>
		<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.</p>
	</div>
</div>
<div class="contact row">
	<div class="large-12 columns">
		<h3>Thomas R. Butler Inc.</h3>
		<p>545 E. Alluvial, Suite 108, Fresno, California 93720-2826<br>
		<p>559-275-1386 <strong>TEL</strong></p>
		<p>559-275-8018 <strong>FAX</strong></p>
		<p><a href="#">info@trbutler.com</a></p>
	</div>
</div>
{% endblock %}
