{% block content %}
{% include 'mainnav' %}
<div class="top-contact">
	<div class="row">
		<div class="large-12 large-centered columns">

		</div>
	</div><!-- End top-construction -->
</div><!-- End top-section -->
<div class="contact row">
	<div class="large-12 columns">
		<h4>Contact Thomas R. Butler Inc.</h4>
		<p>Thomas R. Butler Inc.</p>
		<p>545 E. Alluvial, Suite 108</p>
		<p>Fresno, California 93720-2826</p>
		<p>Phone</p>
		<p>559-275-1386</p>
		<p>Fax</p>
		<p>559-275-8018</p>
		<a href="#">info@trbutler.com</a>
	</div>
</div>
{% include 'footer' %}
{% endblock %}
