{% block content %}
{% include 'mainnav' %}
<div class="top-rental">
	<div class="row">
		<div class="large-10 large-centered columns">
			<img src="/assets/images/icon-rental@2x.svg" width="130" height="130" class="header-icons">
			<h1>Rental Projects</h1>
			<p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.</p>
		</div><!-- End main-message -->
	</div>
</div><!-- End top-section -->
<section class="grid">
	<div class="row">
		<div class="large-12 columns">
			<dl class="tabs" data-tab="" data-options="deep_linking:true;scroll_to_content: false">
				<dd class="active"><a href="#tabs-deeplink-1" class="button round">Housing</a></dd>
				<dd class=""><a href="#tabs-deeplink-2" class="button round">Commercial</a></dd>
				<dd class=""><a href="#tabs-deeplink-3" class="button round">Senior</a></dd>
			</dl>
			<div class="tabs-content">
				<div class="content active" id="tabs-deeplink-1">
					<ul>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Valley Oak Apartments</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Silver Springs II</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">The Briarwood</a>
						</li>

						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Silver Springs I</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Cedar Commons</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Camelot West</a>
						</li>
					</ul>
			  	</div>
			  	<div class="content" id="tabs-deeplink-2">
			  		<ul>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Maple Park Professional Center</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Herndon Armstrong Professional Center</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">West Park Professional Centre</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Alluvial Court</a>
						</li>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Bendel Office/Warehouse</a>
						</li>
					</ul>
				 </div>
				<div class="content" id="tabs-deeplink-3">
					<ul>
						<li class="listing large-4;">
							<div class="listing-image">
								<a href="#"><img src="http://placehold.it/300x180"></a><br>
							</div>
							<a href="#">Sierra Heartland</a>
						</li>
					</ul>
				</div>
		</div>
	</div><!-- end row -->
</section><!-- end grid -->
{% include 'testimonials' %}
{% endblock %}
