{% block content %}
{% include 'mainnav' %}
<div class="top-upcoming">
     <div class="row">
          <div class="large-10 large-centered columns">
               <img src="http://placehold.it/130x130">
               <h2>Upcoming Project</h2>
               <p>Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. Donec quis ornare lacus. Etiam gravida mollis tortor quis porttitor.</p>
          </div><!-- End main-message -->
     </div>
</div><!-- End top upcoming -->
{% include 'footer' %}
{% endblock %}
