{% block content %}
{% include 'mainnav' %}
<div class="top-upcoming">
     <div class="row">
          <div class="large-10 large-centered columns">
               <img src="/assets/images/icon-upcoming@2x.svg" width="130" height="130" class="icons" alt="Upcoming Projects Icon">
               <h1>Upcoming Projects</h1>
          </div><!-- End main-message -->
     </div>
</div><!-- End top upcoming -->
<section entries>
     <div class="row entry">
          <div class="row">
               <div class="large-12 columns entry-date">
                    <p>August 26, 2014</p>
               </div>
          </div>
          <div class="large-4 columns">
               <img src="/assets/images/blog-tollhouse-cross.jpg">
          </div>
          <div class="large-8 columns">
               <h4>Tollhouse Crossing</h4>
               <p>Herndon Armstrong is a Master Planned professional office complex comprised of 12 office buildings. Construction began on the 5th office building in the project, with a completion in the spring of 2012. For leasing information please download the electronic brochure under the Commercial Space link on this website. Colliers International is the exclusive real estate brokers for the project.</p>
               <ul>
                    <li><span>Address:</span> 102 N. Fowler, Clovis, CA 93611</li>
                    <li><span>Manager:</span> Yvette Ortiz</li>
                    <li><span>Phone:</span> (559) 298-8200</li>
               </ul>
          </div>
     </div>
     <div class="row entry">
          <div class="row">
               <div class="large-12 columns entry-date">
                    <p>June 5, 2012</p>
               </div>
          </div>
          <div class="large-4 columns">
               <img src="/assets/images/herndon-armstrong.jpg">
          </div>
          <div class="large-8 columns">
               <h4>Herndon Armstrong</h4>
               <p>Herndon Armstrong is a Master Planned professional office complex comprised of 12 office buildings. Construction began on the 5th office building in the project, with a completion in the spring of 2012. For leasing information please download the electronic brochure under the Commercial Space link on this website. Colliers International is the exclusive real estate brokers for the project.</p>
               <ul>
                    <li><span>Year Built:</span> Spring 2012</li>
                    <li><span>Project Size:</span> 5000 Square Foot Office Building</li>
                    <li><span>Project Location:</span> 2131 Herndon Ave., Clovis, CA 93611</li>
               </ul>
               <p>Please contact Michael Schuh or Bobby Fena at (559) 221-1271.</p>
          </div>
     </div>
</section>
{% endblock %}
